.list-group.list-group-timeline .list-group-timeline-secondary:before {
  background-color: #8592a3;
}
.list-group.list-group-timeline .list-group-timeline-success:before {
  background-color: #71dd37;
}
.list-group.list-group-timeline .list-group-timeline-info:before {
  background-color: #03c3ec;
}
.list-group.list-group-timeline .list-group-timeline-warning:before {
  background-color: #ffab00;
}
.list-group.list-group-timeline .list-group-timeline-danger:before {
  background-color: #ff3e1d;
}
.list-group.list-group-timeline .list-group-timeline-dark:before {
  background-color: #233446;
}

.list-group.list-group-timeline .list-group-timeline-gray:before {
  background-color: rgba(67, 89, 113, 0.1);
}

.list-group.list-group-timeline {
  position: relative;
}

.list-group.list-group-timeline:before {
  background-color: #d9dee3;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0.2rem;
  position: absolute;
  top: 0;
  width: 1px;
}

.list-group.list-group-timeline .list-group-item {
  border: none;
  padding-left: 1.25rem;
}

.list-group.list-group-timeline .list-group-item:before {
  border-radius: 100%;
  content: '';
  display: block;
  height: 7px;
  left: 0;
  margin-top: -3.5px;
  position: absolute;
  top: 50%;
  width: 7px;
}
[dir='rtl'] .list-group.list-group-timeline:before {
  left: auto;
  right: 0.2rem;
}

[dir='rtl'] .list-group.list-group-timeline .list-group-item {
  padding-right: 1.25rem;
}

[dir='rtl'] .list-group.list-group-timeline .list-group-item:before {
  left: auto;
  right: 0;
}
/*  */

.timeline {
  height: 100%;
  list-style: none;
  padding: 0;
  position: relative;
  width: 100%;
}

.timeline .timeline-header {
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
}

.timeline .timeline-header > :first-child {
  margin-right: 0.5rem;
}

.timeline .timeline-end-indicator {
  bottom: -1.35rem;
  left: -0.65rem;
  position: absolute;
}

.timeline .timeline-end-indicator i {
  color: #d9dee3;
  font-size: 1.5rem;
}

.timeline .timeline-item {
  padding-left: 3rem;
  position: relative;
}

.timeline .timeline-item .timeline-event {
  background-color: #fff;
  border-radius: 0.375rem;
  min-height: 4rem;
  padding: 1.25rem 1.5rem 0.75rem;
  position: relative;
  top: -1rem;
  top: -0.85rem;
  width: 100%;
}

.timeline .timeline-item .timeline-event:before {
  border-color: transparent #fff;
  border-style: solid;
  border-width: 1rem 1rem 1rem 0;
  content: '';
  height: 0;
  left: 32px;
  margin-left: -3rem;
  position: absolute;
  right: 100%;
  top: 0.75rem;
  width: 0;
}

.timeline .timeline-item .timeline-event.timeline-event-shadow {
  box-shadow: 0 0.5rem 1rem rgba(67, 89, 113, 0.075) !important;
}

.timeline .timeline-item .timeline-event .timeline-event-time {
  color: #a1acb8;
  font-size: 0.85rem;
  position: absolute;
  top: 1.1rem;
}

.timeline .timeline-item .timeline-indicator,
.timeline .timeline-item .timeline-indicator-advanced {
  -ms-flex-align: center;
  -ms-flex-pack: center;
  align-items: center;
  background-color: #f5f5f9;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  height: 1.5rem;
  justify-content: center;
  left: -0.75rem;
  padding: 1rem 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 1.5rem;
  z-index: 2;
}

.card .timeline .timeline-item .timeline-indicator,
.card .timeline .timeline-item .timeline-indicator-advanced {
  background-color: #fff;
}

.timeline .timeline-item .timeline-indicator i,
.timeline .timeline-item .timeline-indicator-advanced i {
  color: #696cff;
}

.timeline .timeline-item .timeline-indicator-advanced {
  background-color: #fff;
  top: -0.1rem;
}

.timeline .timeline-item .timeline-point-wrapper {
  background-color: #fff;
  display: block;
  height: 2.25rem;
  left: -0.43rem;
  position: absolute;
  top: -0.5rem;
  width: 2.25rem;
  z-index: 2;
}

.timeline .timeline-item .timeline-point {
  background-color: #696cff;
  border-radius: 50%;
  display: block;
  height: 0.75rem;
  left: 0;
  position: absolute;
  top: 0.75rem;
  width: 0.75rem;
  z-index: 3;
}

[dir='rtl'] .timeline .timeline-item .timeline-point {
  left: auto;
  right: 0;
}

.timeline .timeline-item.timeline-item-transparent .timeline-event {
  background-color: transparent;
  top: -1.4rem;
}

html:not([dir='rtl']) .timeline .timeline-item.timeline-item-transparent .timeline-event {
  padding-left: 0;
}

.timeline .timeline-item.timeline-item-transparent .timeline-event.timeline-event-shadow {
  padding-left: 2rem;
}

.timeline .timeline-item.timeline-item-transparent .timeline-event:before {
  display: none;
}

.timeline.timeline-center:before {
  height: 97%;
  left: 50%;
}

.timeline.timeline-center:after {
  left: 50%;
  margin-left: -0.55rem;
}

.timeline.timeline-center .timeline-end-indicator {
  bottom: -1.4rem;
  left: 50%;
  margin-left: 0.55rem;
}

.timeline.timeline-center .timeline-item {
  clear: both;
  width: 50%;
}

.timeline.timeline-center .timeline-item.timeline-item-left,
.timeline.timeline-center .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(.timeline-item-right) {
  border-left: 0;
  border-right: 1px solid #d9dee3;
  float: left;
  left: 0;
  padding-bottom: 3rem;
  padding-left: 0;
  padding-right: 3rem;
}

.timeline.timeline-center .timeline-item.timeline-item-left .timeline-event .timeline-event-time,
.timeline.timeline-center
  .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(.timeline-item-right)
  .timeline-event
  .timeline-event-time {
  right: -10.2rem;
}

.timeline.timeline-center .timeline-item.timeline-item-left .timeline-event:before,
.timeline.timeline-center
  .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(.timeline-item-right)
  .timeline-event:before {
  border-left-width: 16px;
  border-right-width: 0;
  left: auto;
  right: -15px;
}

.timeline.timeline-center .timeline-item.timeline-item-left .timeline-point-wrapper,
.timeline.timeline-center
  .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(.timeline-item-right)
  .timeline-point-wrapper {
  left: 100%;
}

.timeline.timeline-center .timeline-item.timeline-item-right,
.timeline.timeline-center .timeline-item:nth-of-type(2n):not(.timeline-item-left):not(.timeline-item-right) {
  border-left: 1px solid #d9dee3;
  float: right;
  padding-bottom: 3rem;
  padding-left: 3rem;
  right: 1px;
}

.timeline.timeline-center .timeline-item.timeline-item-right .timeline-event .timeline-event-time,
.timeline.timeline-center
  .timeline-item:nth-of-type(2n):not(.timeline-item-left):not(.timeline-item-right)
  .timeline-event
  .timeline-event-time {
  left: -10.2rem;
}

.timeline.timeline-center .timeline-item.timeline-item-right .timeline-event .timeline-point-wrapper,
.timeline.timeline-center
  .timeline-item:nth-of-type(2n):not(.timeline-item-left):not(.timeline-item-right)
  .timeline-event
  .timeline-point-wrapper {
  left: 0;
}

.timeline.timeline-center .timeline-item .timeline-point-wrapper {
  left: 50%;
  margin-left: -0.6875rem;
}

.timeline.timeline-center .timeline-item .timeline-point-indicator {
  left: 50%;
  margin-left: -0.3125rem;
}

.timeline.timeline-advance .timeline-item .timeline-event:after,
.timeline.timeline-advance .timeline-item .timeline-event:before {
  border: transparent;
}

html:not([dir='rtl']) .timeline-item {
  border-left: 1px solid #d9dee3;
}

[dir='rtl'] .timeline:not(.timeline-center):before {
  left: auto;
  right: -1px;
}

[dir='rtl'] .timeline:not(.timeline-center):after {
  left: auto;
  margin-right: -0.65rem;
}

[dir='rtl'] .timeline:not(.timeline-center) .timeline-end-indicator {
  left: auto;
  right: -0.75rem;
}

[dir='rtl'] .timeline:not(.timeline-center) .timeline-item {
  border-right: 1px solid #d9dee3;
  padding-left: 0;
  padding-right: 3rem;
}

[dir='rtl'] .timeline:not(.timeline-center) .timeline-item .timeline-event:before {
  border-left-width: 1rem;
  border-right-width: 0;
  left: auto;
  right: -1rem;
}

[dir='rtl'] .timeline:not(.timeline-center) .timeline-item.timeline-item-transparent .timeline-event {
  padding-right: 0;
}

[dir='rtl'] .timeline:not(.timeline-center) .timeline-item .timeline-point-wrapper {
  left: auto;
  right: -0.4rem;
}

[dir='rtl'] .timeline:not(.timeline-center) .timeline-item .timeline-indicator,
[dir='rtl'] .timeline:not(.timeline-center) .timeline-item .timeline-indicator-advanced {
  left: auto;
  right: -0.78rem;
}

@media (min-width: 768px) {
  .timeline.timeline-center .timeline-item.timeline-item-left .timeline-indicator,
  .timeline.timeline-center
    .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(.timeline-item-right)
    .timeline-indicator {
    left: calc(100% - 0.75rem);
  }

  .timeline.timeline-center .timeline-item.timeline-item-left .timeline-event:after,
  .timeline.timeline-center
    .timeline-item:nth-of-type(odd):not(.timeline-item-left):not(.timeline-item-right)
    .timeline-event:after {
    left: auto;
    right: -16px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

@media (max-width: 767.98px) {
  .timeline.timeline-center:before {
    left: 1rem;
  }

  .timeline.timeline-center:after {
    left: 0;
  }

  .timeline.timeline-center .timeline-end-indicator {
    left: -2px;
  }

  .timeline.timeline-center .timeline-item {
    border-right: 0 !important;
    float: left !important;
    left: 0;
    padding-left: 3rem !important;
    padding-right: 0 !important;
    width: 100%;
  }

  .timeline.timeline-center .timeline-item:not(:last-child) {
    border-left: 1px solid #d9dee3 !important;
  }

  .timeline.timeline-center .timeline-item .timeline-event:before {
    border-left-width: 0 !important;
    border-right-width: 1rem !important;
    right: 100% !important;
  }

  .timeline.timeline-center .timeline-item .timeline-event .timeline-event-time {
    left: 0 !important;
    right: auto !important;
    top: -1.4rem;
  }

  .timeline.timeline-center .timeline-item .timeline-point-wrapper {
    left: -0.7rem !important;
    margin-left: 0 !important;
  }

  .timeline.timeline-center .timeline-item .timeline-point-indicator {
    left: 0 !important;
    margin-left: -0.3125rem !important;
  }

  [dir='rtl'] .timeline.timeline-center:before {
    left: auto;
    right: 1rem;
  }

  [dir='rtl'] .timeline.timeline-center .timeline-item {
    border-left: 0 !important;
    right: 1px !important;
  }

  [dir='rtl'] .timeline.timeline-center .timeline-item:not(:last-child) {
    border-right: 1px solid #d9dee3 !important;
  }

  [dir='rtl'] .timeline.timeline-center:after {
    left: auto;
    right: -0.55rem;
  }

  [dir='rtl'] .timeline.timeline-center .timeline-item {
    float: right !important;
    padding-left: 1.5rem !important;
    padding-right: 3.5rem !important;
    width: 100%;
  }

  [dir='rtl'] .timeline.timeline-center .timeline-item .timeline-event:before {
    border-left-width: 1rem !important;
    border-right-width: 0 !important;
    left: 100% !important;
    right: -1rem !important;
  }

  [dir='rtl'] .timeline.timeline-center .timeline-item .timeline-event:after {
    left: auto;
    right: -17px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  [dir='rtl'] .timeline.timeline-center .timeline-item .timeline-event .timeline-event-time {
    left: auto !important;
    right: 0 !important;
    top: -1.2rem;
  }

  [dir='rtl'] .timeline.timeline-center .timeline-item .timeline-point-wrapper {
    margin-right: 0 !important;
    right: -0.7rem !important;
  }

  [dir='rtl'] .timeline .timeline-item .timeline-indicator,
  [dir='rtl'] .timeline .timeline-item .timeline-indicator-advanced {
    left: auto;
    right: -0.6875rem;
  }

  [dir='rtl'] .timeline-center .timeline-item {
    padding-left: 0;
    padding-right: 3rem;
  }

  [dir='rtl'] .timeline-center .timeline-item .timeline-event:after {
    border-left-color: rgba(67, 89, 113, 0.4);
    border-left-width: 1rem;
    border-right-color: rgba(67, 89, 113, 0.4);
    border-right-width: 0;
    left: auto;
    right: -17px;
  }
}

@media (max-width: 575.98px) {
  .timeline .timeline-header {
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.timeline .timeline-item-secondary .timeline-event {
  background-color: rgba(133, 146, 163, 0.1);
}

.timeline .timeline-item-secondary .timeline-event:before {
  border-left-color: rgba(133, 146, 163, 0.1) !important;
  border-right-color: rgba(133, 146, 163, 0.1) !important;
}

.timeline .timeline-point-secondary {
  background-color: #8592a3 !important;
  box-shadow: 0 0 0 0.1875rem rgba(133, 146, 163, 0.16);
}

.timeline .timeline-indicator-secondary {
  border-color: #8592a3 !important;
}

.timeline .timeline-indicator-secondary i {
  color: #8592a3 !important;
}

.timeline .timeline-item-success .timeline-event {
  background-color: rgba(113, 221, 55, 0.1);
}

.timeline .timeline-item-success .timeline-event:before {
  border-left-color: rgba(113, 221, 55, 0.1) !important;
  border-right-color: rgba(113, 221, 55, 0.1) !important;
}

.timeline .timeline-point-success {
  background-color: #71dd37 !important;
  box-shadow: 0 0 0 0.1875rem rgba(113, 221, 55, 0.16);
}

.timeline .timeline-indicator-success {
  border-color: #71dd37 !important;
}

.timeline .timeline-indicator-success i {
  color: #71dd37 !important;
}

.timeline .timeline-item-info .timeline-event {
  background-color: rgba(3, 195, 236, 0.1);
}

.timeline .timeline-item-info .timeline-event:before {
  border-left-color: rgba(3, 195, 236, 0.1) !important;
  border-right-color: rgba(3, 195, 236, 0.1) !important;
}

.timeline .timeline-point-info {
  background-color: #03c3ec !important;
  box-shadow: 0 0 0 0.1875rem rgba(3, 195, 236, 0.16);
}

.timeline .timeline-indicator-info {
  border-color: #03c3ec !important;
}

.timeline .timeline-indicator-info i {
  color: #03c3ec !important;
}

.timeline .timeline-item-warning .timeline-event {
  background-color: rgba(255, 171, 0, 0.1);
}

.timeline .timeline-item-warning .timeline-event:before {
  border-left-color: rgba(255, 171, 0, 0.1) !important;
  border-right-color: rgba(255, 171, 0, 0.1) !important;
}

.timeline .timeline-point-warning {
  background-color: #ffab00 !important;
  box-shadow: 0 0 0 0.1875rem rgba(255, 171, 0, 0.16);
}

.timeline .timeline-indicator-warning {
  border-color: #ffab00 !important;
}

.timeline .timeline-indicator-warning i {
  color: #ffab00 !important;
}

.timeline .timeline-item-danger .timeline-event {
  background-color: rgba(255, 62, 29, 0.1);
}

.timeline .timeline-item-danger .timeline-event:before {
  border-left-color: rgba(255, 62, 29, 0.1) !important;
  border-right-color: rgba(255, 62, 29, 0.1) !important;
}

.timeline .timeline-point-danger {
  background-color: #ff3e1d !important;
  box-shadow: 0 0 0 0.1875rem rgba(255, 62, 29, 0.16);
}

.timeline .timeline-indicator-danger {
  border-color: #ff3e1d !important;
}

.timeline .timeline-indicator-danger i {
  color: #ff3e1d !important;
}

.timeline .timeline-item-dark .timeline-event {
  background-color: rgba(35, 52, 70, 0.1);
}

.timeline .timeline-item-dark .timeline-event:before {
  border-left-color: rgba(35, 52, 70, 0.1) !important;
  border-right-color: rgba(35, 52, 70, 0.1) !important;
}

.timeline .timeline-point-dark {
  background-color: #233446 !important;
  box-shadow: 0 0 0 0.1875rem rgba(35, 52, 70, 0.16);
}

.timeline .timeline-indicator-dark {
  border-color: #233446 !important;
}

.timeline .timeline-indicator-dark i {
  color: #233446 !important;
}

.timeline .timeline-item-gray .timeline-event {
  background-color: rgba(67, 89, 113, 0.1);
}

.timeline .timeline-item-gray .timeline-event:before {
  border-left-color: rgba(67, 89, 113, 0.1) !important;
  border-right-color: rgba(67, 89, 113, 0.1) !important;
}

.timeline .timeline-point-gray {
  background-color: rgba(67, 89, 113, 0.1) !important;
  box-shadow: 0 0 0 0.1875rem rgba(67, 89, 113, 0.16);
}

.timeline .timeline-indicator-gray {
  border-color: rgba(67, 89, 113, 0.1) !important;
}

.timeline .timeline-indicator-gray i {
  color: rgba(67, 89, 113, 0.1) !important;
}

html:not([dir='rtl']) .border-left-dashed {
  border-left-style: dashed !important;
}
